<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="mass" default="1.2"/>
	<arg name="gains_file" default="$(find control_launch)/config/so3_control_gains.yaml"/>
	<arg name="robot" default="dcist_ariel" />
	<arg name="odom_topic" default="/dcist_ariel/odom" />

	<include file="$(find control_launch)/launch/control_mp.launch">
			<arg name="mass" value="$(arg mass)"/>
			<arg name="gains_file" value="$(arg gains_file)"/>
			<arg name="robot" value="$(arg robot)"/>
			<arg name="simulation" value="false"/>
			<arg name="odom" value="$(arg odom_topic)" />
	</include>

	<!-- mavros pixhawk interface -->
	<include file="$(find px4_interface)/launch/SO3_command_to_mavros.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="odom" value="$(arg odom_topic)"/>
	</include>

	<!-- pixhawk (nice priority -15) -->
	<group ns="$(arg robot)"> 
		<include file="$(find px4_interface)/launch/px4_mavros.launch">
	</include>
	</group>
</launch>
