<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="mass" default="1.37"/>
	<arg name="gains_file" default="$(find control_launch)/config/so3_control_gains.yaml"/>
	<arg name="robot" default="f250_ariel" />
	<!-- <arg name="odom_topic" default="/vicon/f250_ariel/odom" /> -->
	<arg name="use_vicon"  default="true" />
	<arg name="use_dsol"   default="false" />
	<arg name="use_vins"   default="true" />
	<arg name="use_imu_vn" default="true" />
	<arg name="safe_odom"  default="true" />

    <arg name="odom_topic" default="/vins_fusion/imu_propagate" unless="$(arg safe_odom)" /> 
    <arg name="odom_topic" default="/$(arg robot)/safe_odom/odom"  if="$(arg safe_odom)"/>
    

	<!-- Vicon odometry -->
	<group if="$(arg use_vicon)">
		<include file="$(find mocap_vicon)/launch/vicon.launch"/>
	</group>

    <!-- realsense launch -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>

    <!-- vn imu launch -->
	<group if="$(arg use_imu_vn)">
        <include file="$(find imu_vn_100)/launch/vn_100_cont.launch"/>
    </group>

    <!-- dsol launch -->
	<group if="$(arg use_dsol)">
		<include file="$(find dsol)/launch/dsol_odom.launch"/>
	</group>
    
    <!-- vins launch -->
	<group if="$(arg use_vins)">
		<include file="$(find vins)/launch/f250_ariel.launch"/>
	</group>

    <!-- safe mode for odom launch -->
	<group if="$(arg safe_odom)" ns="$(arg robot)">
		<include file="$(find safe_odom)/launch/safe_odom.launch"/>
	</group>

	<include file="$(find control_launch)/launch/control_mp.launch">
		<arg name="mass" value="$(arg mass)"/>
		<arg name="gains_file" value="$(arg gains_file)"/>
		<arg name="robot" value="$(arg robot)"/>
		<arg name="odom" value="$(arg odom_topic)" />
	</include>

	<!-- mavros pixhawk interface -->
	<include file="$(find px4_interface)/launch/SO3_command_to_mavros.launch">
		<arg name="robot" value="$(arg robot)"/>
		<arg name="odom" value="$(arg odom_topic)"/>
	</include>

	<!-- pixhawk (nice priority -15) -->
	<group ns="$(arg robot)"> 
		<include file="$(find px4_interface)/launch/px4_mavros.launch">
	</include>
	</group>
</launch>
